#product-image {
    width: 550px;
}

@media screen and (max-width: 1680px) {
    #product-image {
        width: 400px;
    }
}

@media screen and (max-width: 1280px) {
    #product-image {
        width: 400px;
    }
}
@media screen and (max-width: 980px) {
    #product-image {
        width: 400px;
    }
}
@media screen and (max-width: 736px) {
    #product-image {
        width: 400px;
    }
}

#product-price {
    color:red
}